<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="height:50px;">
    <div *ngIf="titleFlag">
      Welcome {{title}}!!
    </div>
  </h1>
  <div class="form-group" style="max-width:500px; position:relative; margin:auto;">
    <input class="form-control" type="text" [(ngModel)]="firstName" placeholder="Enter First Name" required><br>
    <input class="form-control" type="text" [(ngModel)]="lastName" placeholder="Enter Last Name" required><br>
    <button (click)="showTitle()" class="btn btn-primary" style="margin-right:5px;">Show Title</button>
    <button (click)="hideTitle()" class="btn btn-primary" style="margin-left: 5px;">Hide Title</button>
  </div>
</div>


